In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
import seaborn as sns

In [41]:
city_attributes_df = pd.read_csv("historical-hourly-weather-data/city_attributes.csv")
humidity_df = pd.read_csv("historical-hourly-weather-data/humidity.csv")
pressure_df = pd.read_csv("historical-hourly-weather-data/pressure.csv")
temperature_df = pd.read_csv("historical-hourly-weather-data/temperature.csv")
weather_description_df = pd.read_csv("historical-hourly-weather-data/weather_description.csv")
wind_direction_df = pd.read_csv("historical-hourly-weather-data/wind_direction.csv")
wind_speed_df = pd.read_csv("historical-hourly-weather-data/wind_speed.csv")

In [42]:
city_attributes_df = city_attributes_df.drop(['City', 'Country'], axis=1)
city_attributes_df.head()

humidity_df = pd.read_csv("historical-hourly-weather-data/humidity.csv")
melt_names = ['Vancouver', 'Portland', 'San Francisco', 'Seattle', 'Los Angeles', 'San Diego', 'Las Vegas', 'Phoenix',
             'Albuquerque', 'Denver', 'San Antonio', 'Dallas', 'Houston', 'Kansas City', 'Minneapolis', 'Saint Louis',
             'Chicago', 'Nashville', 'Indianapolis', 'Atlanta', 'Detroit', 'Jacksonville', 'Charlotte', 'Miami',
             'Pittsburgh', 'Toronto', 'Philadelphia', 'New York', 'Montreal', 'Boston', 'Beersheba', 'Tel Aviv District',
             'Eilat', 'Haifa', 'Nahariyya', 'Jerusalem']
#print(melt_names)
humidity_df = pd.melt(frame=humidity_df, id_vars=['datetime'], value_vars=melt_names, var_name='city', value_name='humidity')
humidity_df.head()

              datetime       city  humidity
0  2012-10-01 12:00:00  Vancouver       NaN
1  2012-10-01 13:00:00  Vancouver      76.0
2  2012-10-01 14:00:00  Vancouver      76.0
3  2012-10-01 15:00:00  Vancouver      76.0
4  2012-10-01 16:00:00  Vancouver      77.0

In [43]:
melt_names = ['Vancouver', 'Portland', 'San Francisco', 'Seattle', 'Los Angeles', 'San Diego', 'Las Vegas', 'Phoenix',
             'Albuquerque', 'Denver', 'San Antonio', 'Dallas', 'Houston', 'Kansas City', 'Minneapolis', 'Saint Louis',
             'Chicago', 'Nashville', 'Indianapolis', 'Atlanta', 'Detroit', 'Jacksonville', 'Charlotte', 'Miami',
             'Pittsburgh', 'Toronto', 'Philadelphia', 'New York', 'Montreal', 'Boston', 'Beersheba', 'Tel Aviv District',
             'Eilat', 'Haifa', 'Nahariyya', 'Jerusalem']
pressure_df = pd.melt(frame=pressure_df, id_vars=['datetime'], value_vars=melt_names, var_name='city', value_name='pressure')
temperature_df = pd.melt(frame=temperature_df, id_vars=['datetime'], value_vars=melt_names, var_name='city', value_name='temperature')
weather_description_df = pd.melt(frame=weather_description_df, id_vars=['datetime'], value_vars=melt_names, var_name='city', value_name='weather description')
wind_direction_df = pd.melt(frame=wind_direction_df, id_vars=['datetime'], value_vars=melt_names, var_name='city', value_name='wind direction')
wind_speed_df = pd.melt(frame=wind_speed_df, id_vars=['datetime'], value_vars=melt_names, var_name='city', value_name='wind speed')

In [44]:
df = humidity_df
df['temperature'] = temperature_df['temperature']
df['pressure'] = pressure_df['pressure']
df['weather_description'] = weather_description_df['weather description']
df['wind direction'] = wind_direction_df['wind direction']
df['wind speed'] = wind_speed_df['wind speed']

In [45]:
df.loc[df['city'] == 'Vancouver', 'Latitude'] = 49.249660
df.loc[df['city'] == 'Vancouver', 'Longitude'] = -123.119339
df.loc[df['city'] == 'Portland', 'Latitude'] = 45.523449
df.loc[df['city'] == 'Portland', 'Longitude'] = -122.676208
df.loc[df['city'] == 'San Francisco', 'Latitude'] = 37.774929
df.loc[df['city'] == 'San Francisco', 'Longitude'] = -122.419418 
df.loc[df['city'] == 'Seattle', 'Latitude'] = 47.606209 
df.loc[df['city'] == 'Seattle', 'Longitude'] = -122.332069 
df.loc[df['city'] == 'Los Angeles', 'Latitude'] = 34.052231 
df.loc[df['city'] == 'Los Angeles', 'Longitude'] = -118.243683
df.loc[df['city'] == 'San Diego', 'Latitude'] = 32.715328 
df.loc[df['city'] == 'San Diego', 'Longitude'] = -117.157257
df.loc[df['city'] == 'Las Vegas', 'Latitude'] = 36.174969 
df.loc[df['city'] == 'Las Vegas', 'Longitude'] = -115.137222
df.loc[df['city'] == 'Phoenix', 'Latitude'] = 33.448380 
df.loc[df['city'] == 'Phoenix', 'Longitude'] = -112.074043
df.loc[df['city'] == 'Albuquerque', 'Latitude'] = 35.084492 
df.loc[df['city'] == 'Albuquerque', 'Longitude'] = -106.651138
df.loc[df['city'] == 'Denver', 'Latitude'] = 39.739151 
df.loc[df['city'] == 'Denver', 'Longitude'] = -104.984703
df.loc[df['city'] == 'San Antonio', 'Latitude'] = 29.424120 
df.loc[df['city'] == 'San Antonio', 'Longitude'] = -98.493629
df.loc[df['city'] == 'Dallas', 'Latitude'] = 32.783058 
df.loc[df['city'] == 'Dallas', 'Longitude'] = -96.806671
df.loc[df['city'] == 'Houston', 'Latitude'] = 29.763281
df.loc[df['city'] == 'Houston', 'Longitude'] = - 95.363274
df.loc[df['city'] == 'Kansas City', 'Latitude'] = 39.099731 
df.loc[df['city'] == 'Kansas City', 'Longitude'] = -94.578568
df.loc[df['city'] == 'Minneapolis', 'Latitude'] = 44.979969
df.loc[df['city'] == 'Minneapolis', 'Longitude'] = -93.263840
df.loc[df['city'] == 'Saint Louis', 'Latitude'] = 38.627270
df.loc[df['city'] == 'Saint Louis', 'Longitude'] = -90.197891
df.loc[df['city'] == 'Chicago', 'Latitude'] = 41.850029
df.loc[df['city'] == 'Chicago', 'Longitude'] = -87.650047
df.loc[df['city'] == 'Nashville', 'Latitude'] = 36.165890
df.loc[df['city'] == 'Nashville', 'Longitude'] = -86.784439
df.loc[df['city'] == 'Indianapolis', 'Latitude'] = 39.768379
df.loc[df['city'] == 'Indianapolis', 'Longitude'] = -86.158043
df.loc[df['city'] == 'Atlanta', 'Latitude'] = 33.749001
df.loc[df['city'] == 'Atlanta', 'Longitude'] = -84.387978
df.loc[df['city'] == 'Detroit', 'Latitude'] = 42.331429
df.loc[df['city'] == 'Detroit', 'Longitude'] = -83.045753
df.loc[df['city'] == 'Jacksonville', 'Latitude'] = 30.332180
df.loc[df['city'] == 'Jacksonville', 'Longitude'] = -81.655647
df.loc[df['city'] == 'Charlotte', 'Latitude'] = 35.227089
df.loc[df['city'] == 'Charlotte', 'Longitude'] = -80.843132
df.loc[df['city'] == 'Miami', 'Latitude'] = 25.774269
df.loc[df['city'] == 'Miami', 'Longitude'] = -80.193657
df.loc[df['city'] == 'Pittsburgh', 'Latitude'] = 40.440620
df.loc[df['city'] == 'Pittsburgh', 'Longitude'] = -79.995888
df.loc[df['city'] == 'Toronto', 'Latitude'] = 43.700111
df.loc[df['city'] == 'Toronto', 'Longitude'] = -79.416298
df.loc[df['city'] == 'Philadelphia', 'Latitude'] = 39.952339
df.loc[df['city'] == 'Philadelphia', 'Longitude'] = -75.163788
df.loc[df['city'] == 'New York', 'Latitude'] = 40.714272
df.loc[df['city'] == 'New York', 'Longitude'] = -74.005966
df.loc[df['city'] == 'Montreal', 'Latitude'] = 45.508839
df.loc[df['city'] == 'Montreal', 'Longitude'] = -73.587807
df.loc[df['city'] == 'Boston', 'Latitude'] = 42.358429
df.loc[df['city'] == 'Boston', 'Longitude'] = -71.059769
df.loc[df['city'] == 'Beersheba', 'Latitude'] = 31.251810
df.loc[df['city'] == 'Beersheba', 'Longitude'] = 34.791302
df.loc[df['city'] == 'Tel Aviv District', 'Latitude'] = 32.083328
df.loc[df['city'] == 'Tel Aviv District', 'Longitude'] = 34.799999
df.loc[df['city'] == 'Eilat', 'Latitude'] = 29.558050
df.loc[df['city'] == 'Eilat', 'Longitude'] = 34.948212
df.loc[df['city'] == 'Haifa', 'Latitude'] = 32.815559
df.loc[df['city'] == 'Haifa', 'Longitude'] = 34.989170
df.loc[df['city'] == 'Nahariyya', 'Latitude'] = 33.005859
df.loc[df['city'] == 'Nahariyya', 'Longitude'] = 35.094090
df.loc[df['city'] == 'Jerusalem', 'Latitude'] = 31.769039
df.loc[df['city'] == 'Jerusalem', 'Longitude'] = 35.216331

In [46]:
df.head()

,datetime,city,humidity,temperature,pressure,weather_description,wind direction,wind speed,Latitude,Longitude
0,2012-10-01 12:00:00,Vancouver,NaN,NaN,NaN,NaN,NaN,NaN,49.24966,-123.119339
1,2012-10-01 13:00:00,Vancouver,76.0,284.630000,NaN,mist,0.0,0.0,49.24966,-123.119339
2,2012-10-01 14:00:00,Vancouver,76.0,284.629041,NaN,broken clouds,6.0,0.0,49.24966,-123.119339
3,2012-10-01 15:00:00,Vancouver,76.0,284.626998,NaN,broken clouds,20.0,0.0,49.24966,-123.119339
4,2012-10-01 16:00:00,Vancouver,77.0,284.624955,NaN,broken clouds,34.0,0.0,49.24966,-123.119339

In [47]:
df['datetime'] = pd.to_datetime(df['datetime'])

In [48]:
israel_rows_index = df[ (df['city'] == 'Beersheba') | (df['city'] == 'Tel Aviv District') | 
                        (df['city'] == 'Eilat') | (df['city'] == 'Haifa') |
                        (df['city'] == 'Nahariyya') | (df['city'] == 'Jerusalem')].index

df = df.drop(israel_rows_index , inplace=False)

In [49]:
df = df.dropna()

In [50]:
df = df.reset_index(drop=True)

In [51]:
df.drop(['city'],axis=1, inplace=True)

# use pd.concat to join the new columns with your original dataframe
df_labels = df['weather_description']

# now drop the original 'country' column (you don't need it anymore)
df.drop(['weather_description'],axis=1, inplace=True)

In [74]:
sns.barplot(df_labels)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [53]:
df.describe()

,humidity,temperature,pressure,wind direction,wind speed,Latitude,Longitude
count,1.330438e+06,1.330438e+06,1.330438e+06,1.330438e+06,1.330438e+06,1.330438e+06,1.330438e+06
mean,6.782232e+01,2.875895e+02,1.018114e+03,1.808817e+02,2.812323e+00,3.808595e+01,-9.519595e+01
std,2.214286e+01,1.048271e+01,1.498146e+01,1.025539e+02,2.088355e+00,5.674317e+00,1.673764e+01
min,5.000000e+00,2.423367e+02,8.000000e+02,0.000000e+00,0.000000e+00,2.577427e+01,-1.231193e+02
25%,5.300000e+01,2.805694e+02,1.013000e+03,1.000000e+02,1.000000e+00,3.374900e+01,-1.120740e+02
50%,7.100000e+01,2.885300e+02,1.018000e+03,1.900000e+02,2.000000e+00,3.862727e+01,-9.019789e+01
75%,8.600000e+01,2.954700e+02,1.024000e+03,2.630000e+02,4.000000e+00,4.233143e+01,-8.084313e+01
max,1.000000e+02,3.212200e+02,1.100000e+03,3.600000e+02,5.000000e+01,4.924966e+01,-7.105977e+01

In [54]:
"""
t=pd.DatetimeIndex(df['datetime'])
df['month']=t.month
df['day']=t.day
df['hour']=t.hour

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-54-e388cb609d1e>, line 5)

In [55]:
df.head()

,datetime,humidity,temperature,pressure,wind direction,wind speed,Latitude,Longitude
0,2012-10-02 09:00:00,87.0,284.590217,807.0,268.0,0.0,49.24966,-123.119339
1,2012-10-02 10:00:00,88.0,284.588174,849.0,281.0,0.0,49.24966,-123.119339
2,2012-10-02 11:00:00,89.0,284.586130,890.0,295.0,0.0,49.24966,-123.119339
3,2012-10-02 12:00:00,89.0,284.584087,932.0,309.0,0.0,49.24966,-123.119339
4,2012-10-02 13:00:00,90.0,284.582043,973.0,323.0,0.0,49.24966,-123.119339

In [56]:
df.drop(['datetime'],axis=1, inplace=True)

In [57]:
"""
df['month_sin'] = np.sin(2 * np.pi * df['month']/12.0)
df['month_cos'] = np.cos(2 * np.pi * df['month']/12.0)

df['day_sin'] = np.sin(2 * np.pi * df['hour']/365.0)
df['day_cos'] = np.cos(2 * np.pi * df['hour']/365.0)

df['hour_sin'] = np.sin(2 * np.pi * df['hour']/23.0)
df['hour_cos'] = np.cos(2 * np.pi * df['hour']/23.0)

df.drop(['month'],axis=1, inplace=True)
df.drop(['day'],axis=1, inplace=True)
df.drop(['hour'],axis=1, inplace=True)

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-57-e64dbba14ac5>, line 13)

In [58]:
df.head(30)

,humidity,temperature,pressure,wind direction,wind speed,Latitude,Longitude
0,87.0,284.590217,807.0,268.0,0.0,49.24966,-123.119339
1,88.0,284.588174,849.0,281.0,0.0,49.24966,-123.119339
2,89.0,284.586130,890.0,295.0,0.0,49.24966,-123.119339
3,89.0,284.584087,932.0,309.0,0.0,49.24966,-123.119339
4,90.0,284.582043,973.0,323.0,0.0,49.24966,-123.119339
5,91.0,284.580000,1015.0,337.0,0.0,49.24966,-123.119339
6,89.0,284.850000,1027.0,346.0,0.0,49.24966,-123.119339
7,76.0,286.260000,1015.0,157.0,0.0,49.24966,-123.119339
8,76.0,286.770000,1014.0,45.0,0.0,49.24966,-123.119339
9,58.0,289.510000,1013.0,157.0,0.0,49.24966,-123.119339
10,53.0,289.670000,1012.0,157.0,0.0,49.24966,-123.119339
11,47.0,290.290000,1011.0,157.0,0.0,49.24966,-123.119339
12,45.0,291.090000,1010.0,157.0,0.0,49.24966,-123.119339
13,49.0,291.260000,1008.0,337.0,0.0,49.24966,-123.119339
14,57.0,290.620000,1008.0,337.0,0.0,49.24966,-123.119339
15,83.0,286.600000,1008.0,202.0,1.0,49.24966,-123.119339
16,80.0,284.780000,1009.0,202.0,0.0,49.24966,-123.119339
17,81.0,284.240000,1009.0,225.0,0.0,49.24966,-123.119339
18,83.0,284.170000,1009.0,180.0,0.0,49.24966,-123.119339
19,85.0,283.250000,1010.0,45.0,0.0,49.24966,-123.119339
20,87.0,283.350000,1010.0,180.0,0.0,49.24966,-123.119339
21,85.0,282.530000,1010.0,180.0,0.0,49.24966,-123.119339
22,80.0,282.830000,1010.0,172.0,0.0,49.24966,-123.119339
23,75.0,283.130000,1010.0,164.0,0.0,49.24966,-123.119339
24,70.0,283.430000,1011.0,157.0,1.0,49.24966,-123.119339
25,62.0,283.920000,1012.0,157.0,0.0,49.24966,-123.119339
26,63.0,285.060000,1012.0,202.0,0.0,49.24966,-123.119339
27,47.0,286.230000,1012.0,45.0,0.0,49.24966,-123.119339
28,48.0,286.730000,1012.0,157.0,0.0,49.24966,-123.119339
29,70.0,282.440000,1017.0,22.0,0.0,49.24966,-123.119339

In [59]:
#df['humidity'] = preprocessing.normalize(df['humidity'])
#df['temperature'] = preprocessing.normalize(df['temperature'])
#df['pressure'] = preprocessing.normalize(df['pressure'])
#df['wind direction'] = preprocessing.normalize(df['wind direction'])
#df['wind speed'] = preprocessing.normalize(df['wind speed'])
#df['latitude'] = preprocessing.normalize(df['latitude'])
#df['longitude'] = preprocessing.normalize(df['longitude'])
#print(df.shape)
#df = preprocessing.normalize(df)

#df = pd.DataFrame(df)
#print(df.shape)

In [60]:
df.to_csv('features.csv', compression='zip')
df_labels.to_csv('labels.csv', compression='zip')