In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

In [2]:
labels_bin = pd.read_csv(
    'Training Data/labels_bin.csv', compression='zip')
engineered_features = pd.read_csv(
    'Training Data/engineered_features.csv', compression='zip')
features = pd.read_csv(
    'Training Data/features.csv', compression='zip')    

labels_bin.drop(['Unnamed: 0'], axis=1, inplace=True)
engineered_features.drop(['Unnamed: 0'], axis=1, inplace=True)
features.drop(['Unnamed: 0'], axis=1, inplace=True)

In [3]:
labels_bin.head()

   is_sky_clear
0         False
1         False
2         False
3         False
4         False

In [4]:
engineered_features.head()

,humidity,temperature,pressure,wind direction,wind speed,Latitude,Longitude,month,day,hour,day_avg_hum,month_avg_hum,year_avg_hum,day_avg_temp,month_avg_temp,year_avg_temp,day_avg_press,month_avg_press,year_avg_press
0,87.0,284.590217,807.0,268.0,0.0,49.24966,-123.119339,10,2,9,67.822292,67.819934,67.756567,287.58953,287.593295,287.600263,1018.114301,1018.116066,1018.091305
1,88.0,284.588174,849.0,281.0,0.0,49.24966,-123.119339,10,2,10,67.822292,67.819934,67.756567,287.58953,287.593295,287.600263,1018.114301,1018.116066,1018.091305
2,89.0,284.586130,890.0,295.0,0.0,49.24966,-123.119339,10,2,11,67.822292,67.819934,67.756567,287.58953,287.593295,287.600263,1018.114301,1018.116066,1018.091305
3,89.0,284.584087,932.0,309.0,0.0,49.24966,-123.119339,10,2,12,67.822292,67.819934,67.756567,287.58953,287.593295,287.600263,1018.114301,1018.116066,1018.091305
4,90.0,284.582043,973.0,323.0,0.0,49.24966,-123.119339,10,2,13,67.822292,67.819934,67.756567,287.58953,287.593295,287.600263,1018.114301,1018.116066,1018.091305

In [5]:
features.head()

,humidity,temperature,pressure,wind direction,wind speed,Latitude,Longitude,month,day,hour
0,87.0,284.590217,807.0,268.0,0.0,49.24966,-123.119339,10,2,9
1,88.0,284.588174,849.0,281.0,0.0,49.24966,-123.119339,10,2,10
2,89.0,284.586130,890.0,295.0,0.0,49.24966,-123.119339,10,2,11
3,89.0,284.584087,932.0,309.0,0.0,49.24966,-123.119339,10,2,12
4,90.0,284.582043,973.0,323.0,0.0,49.24966,-123.119339,10,2,13

In [6]:
X_train, X_test, y_train, y_test = train_test_split(
    engineered_features, labels_bin, test_size=0.33, random_state=42)

In [7]:
# define the keras model
model = Sequential()
model.add(Dense(12, input_dim=19, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [8]:
# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [9]:
# fit the keras model on the dataset
model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=10, batch_size=32)

Train on 891393 samples, validate on 439045 samples
Epoch 1/10
891393/891393 [==============================] - 230s 257us/step - loss: 0.5857 - accuracy: 0.6865 - val_loss: 0.5842 - val_accuracy: 0.6926
Epoch 2/10
891393/891393 [==============================] - 237s 265us/step - loss: 0.5740 - accuracy: 0.6942 - val_loss: 0.5680 - val_accuracy: 0.6973
Epoch 3/10
891393/891393 [==============================] - 202s 226us/step - loss: 0.5716 - accuracy: 0.6952 - val_loss: 0.5690 - val_accuracy: 0.6922
Epoch 4/10
891393/891393 [==============================] - 209s 234us/step - loss: 0.5698 - accuracy: 0.6964 - val_loss: 0.5747 - val_accuracy: 0.6935
Epoch 5/10
891393/891393 [==============================] - 206s 231us/step - loss: 0.5691 - accuracy: 0.6973 - val_loss: 0.5641 - val_accuracy: 0.6987
Epoch 6/10
891393/891393 [==============================] - 197s 221us/step - loss: 0.5685 - accuracy: 0.6974 - val_loss: 0.5654 - val_accuracy: 0.6975
Epoch 7/10
891393/891393 [==============================] - 207s 232us/step - loss: 0.5681 - accuracy: 0.6976 - val_loss: 0.5647 - val_accuracy: 0.7010
Epoch 8/10
891393/891393 [==============================] - 205s 230us/step - loss: 0.5675 - accuracy: 0.6984 - val_loss: 0.5632 - val_accuracy: 0.7001
Epoch 9/10
891393/891393 [==============================] - 214s 240us/step - loss: 0.5671 - accuracy: 0.6978 - val_loss: 0.5657 - val_accuracy: 0.6992
Epoch 10/10
891393/891393 [==============================] - 209s 234us/step - loss: 0.5668 - accuracy: 0.6982 - val_loss: 0.5677 - val_accuracy: 0.6951